body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.5vw, 1vw, 1.5vw);
  background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1),
      transparent,
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.05),
      transparent,
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.03) 3px
    ),
    linear-gradient(0deg, rgb(85, 159, 230), rgb(230, 105, 196));
}

/* img - whole page */
img {
  width: 5vw;
  height: 7vh;
  border-radius: 0.7vw;
  border: 0.1vw solid #315f53;
  margin-bottom: 1%;
}

/* h3 - whole page */
h3 {
  font-family: verdana;
  font-size: clamp(1vw, 1.2vw, 2vw);
  color: #7e0000;
  text-align: center;
  margin: 1.5vh 0px 0px 0px;
  padding: 0px;
}

/* table for video img & title */
table {
  width: 98%;
  cursor: pointer;
}
th,
td {
  padding: 0.2vw;
  border-collapse: collapse;
}
th {
  border: none;
  width: 15%;
}
td {
  border: 0.1vw solid black;
  color: #35003b;
  width: 85%;
  text-align: center;
  font-size: clamp(0.5vw, 1.2vw, 1.5vw);
  font-weight: bold;
  border-radius: 0.5vw;
}
#index {
  width: 5%;
}
